@font-face {
  font-family: "Glyphicons Halflings";
  src: url("./fonts/glyphicons-halflings-regular.eot");
  src: url("./fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("./fonts/glyphicons-halflings-regular.woff") format("woff"), url("./fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  max-width: 40rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: 'Courier New', Courier, monospace;
  color: slategray;
  font-size: 1.15em;
}

main {
  margin: 2em;
}


.alert {
  border-left: 4px solid;
  position: relative;
  margin-bottom: 23px;
  padding: 1em 0 2em 2em;
  --alertcolor: rgba(0, 0, 0, 0.95);
  border-color: var(--alertcolor);
  border-image: linear-gradient(to bottom, var(--alertcolor) 16px, var(--alertcolor) 16px, transparent 16px, transparent 48px, var(--alertcolor) 48px, var(--alertcolor) 48px) 1 100%;

  &::before {
    position: absolute;
    left: -14px;
    top: 16px;
    font-family: "Glyphicons Halflings";
    font-size: 26px;
    content: "\e086";
  }
}

.alert-danger {
  --alertcolor: #d3080c;
  border-color: var(--alertcolor);
  border-image: linear-gradient(to bottom, var(--alertcolor) 16px, var(--alertcolor) 16px, transparent 16px, transparent 48px, var(--alertcolor) 48px, var(--alertcolor) 48px) 1 100%;

  &::before {
    color: var(--alertcolor);
    content: "\e101";
  }
}

.alert-warning {
  --alertcolor: #278400;
  border-color: var(--alertcolor);
  border-image: linear-gradient(to bottom, var(--alertcolor) 16px, var(--alertcolor) 16px, transparent 16px, transparent 48px, var(--alertcolor) 48px, var(--alertcolor) 48px) 1 100%;


  &::before {
    color: var(--alertcolor);
    content: "\e107";
  }
}

.alert-info {
  --alertcolor: #269abc;
  border-color: var(--alertcolor);
  border-image: linear-gradient(to bottom, var(--alertcolor) 16px, var(--alertcolor) 16px, transparent 16px, transparent 48px, var(--alertcolor) 48px, var(--alertcolor) 48px) 1 100%;

  &::before {
    color: var(--alertcolor);
    content: "\e086";
  }
}

.alert-success {
  --alertcolor: #ee7100;
  border-color: var(--alertcolor);
  border-image: linear-gradient(to bottom, var(--alertcolor) 16px, var(--alertcolor) 16px, transparent 16px, transparent 48px, var(--alertcolor) 48px, var(--alertcolor) 48px) 1 100%;

  &::before {
    color: var(--alertcolor);
    content: "\e084";
  }
}

.inadiv {
  margin: 2em;
  padding: 4em;

  p {
    margin: 2rem;
  }

  background: rgba(0, 0, 0, 0.15);
}